.form-part {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


input[type=number] {
    -moz-appearance: textfield;
}

.form-sec {
    width: 50%;

    .form-sec__group {
        margin-bottom: 20px;

        .form-sec__label {
            text-transform: uppercase;
            @include fluid-type-customized(1366px, 1920px, 16px, 16px);
            @include fluid-type-customized(320px, 1024px, 14px, 16px);
            color: #220930;
            font-family: 'Tajawal-bold';
            letter-spacing: 0.2px;
        }

        .form-sec__control {

            height: 40px;
            border-color: #D1D1D1;
            box-shadow: none !important;
            outline: none !important;
            color: #220930;
            font-family: 'Tajawal-Medium';

            &.form-sec__control--success {
                border-color: #928AB8;
            }

            &.form-sec__control--fail {
                border-color: #AF7271;
            }

            &::placeholder {
                color: #D1D1D1;
                @include fluid-type-customized(1366px, 1920px, 16px, 18px);
                @include fluid-type-customized(320px, 1024px, 14px, 16px);
                font-family: 'Tajawal-Regular';

            }
        }

        .form-sec__error {
            color: #B7676A;
            margin-top: 10px;
            @include fluid-type-customized(1366px, 1920px, 14px, 16px);
            @include fluid-type-customized(320px, 1024px, 12px, 14px);
            font-family: 'Tajawal-Medium';
        }
    }

    .form-sec-btn {
        width: 100%;
        padding: 10px;
        background: #220930 !important;
        color: #fff;
        text-transform: capitalize;
        border-radius: 0.375rem;
        margin-top: 16px;
        @include fluid-type-customized(1366px, 1920px, 16px, 18px);
        @include fluid-type-customized(320px, 1024px, 14px, 16px);
        font-family: 'Tajawal-medium';
        border: none;
    }

}

@media (max-width:1200px) {
    .form-part{
        align-items: center;
    }
    .form-sec {
        width: 60%;



    }
}

@media (max-width:1024px) {

    .form-sec {
        width: 65%;

        .form-sec__group {
            margin-bottom: 20px;

            .form-sec__label {
                text-transform: uppercase;
                @include fluid-type-customized(1366px, 1920px, 16px, 16px);
                @include fluid-type-customized(320px, 1024px, 14px, 16px);
                color: #220930;
                font-family: 'Tajawal-bold';
                letter-spacing: 0.2px;
            }

            .form-sec__control {

                height: 40px;
                border-color: #D1D1D1;
                box-shadow: none !important;
                outline: none !important;
                color: #220930;
                font-family: 'Tajawal-Medium';

                &.form-sec__control--success {
                    border-color: #928AB8;
                }

                &.form-sec__control--fail {
                    border-color: #AF7271;
                }

                &::placeholder {
                    color: #D1D1D1;
                    @include fluid-type-customized(1366px, 1920px, 16px, 18px);
                    @include fluid-type-customized(320px, 1024px, 14px, 16px);
                    font-family: 'Tajawal-Regular';

                }
            }

            .form-sec__error {
                color: #B7676A;
                @include fluid-type-customized(1366px, 1920px, 16px, 18px);
                @include fluid-type-customized(320px, 1024px, 14px, 16px);
                font-family: 'Tajawal-medium';
            }
        }

        .form-sec-btn {
            width: 100%;
            padding: 10px;
            background: #220930 !important;
            color: #fff;
            text-transform: capitalize;
            border-radius: 0.375rem;
            margin-top: 16px;
            @include fluid-type-customized(1366px, 1920px, 16px, 18px);
            @include fluid-type-customized(320px, 1024px, 14px, 16px);
            font-family: 'Tajawal-medium';
            border: none;
        }

    }
}
@media (max-width:768px){
    .form-sec{
        width: 100%;
        padding-left: 12px;
        padding-right: 12px;
    }
}