
.card {
    background: -webkit-linear-gradient(316deg, rgb(58, 16, 74) 0%, rgb(66, 31, 84) 23%, rgb(52, 43, 87) 42%, rgb(70, 31, 56) 59%, rgb(33, 9, 47) 88%);
    background: -o-linear-gradient(316deg, rgb(58, 16, 74) 0%, rgb(66, 31, 84) 23%, rgb(52, 43, 87) 42%, rgb(70, 31, 56) 59%, rgb(33, 9, 47) 88%);
    background: -ms-linear-gradient(316deg, rgb(58, 16, 74) 0%, rgb(66, 31, 84) 23%, rgb(52, 43, 87) 42%, rgb(70, 31, 56) 59%, rgb(33, 9, 47) 88%);
    background: -moz-linear-gradient(316deg, rgb(58, 16, 74) 0%, rgb(66, 31, 84) 23%, rgb(52, 43, 87) 42%, rgb(70, 31, 56) 59%, rgb(33, 9, 47) 88%);
    background: linear-gradient(134deg, rgb(58, 16, 74) 0%, rgb(66, 31, 84) 23%, rgb(52, 43, 87) 42%, rgb(70, 31, 56) 59%, rgb(33, 9, 47) 88%);
    min-height: 100vh;
    border-radius: 0;
    position: relative;

    .cards {
        position: absolute;
        width: 85%;
        left: 35%;
        top: 20%;

        .card__front {
            background: -webkit-linear-gradient(316deg, rgb(99, 63, 240) 0%, rgb(171, 60, 237) 34%, rgb(206, 107, 160) 48%, rgb(201, 119, 148) 58%, rgb(107, 144, 220) 66%, rgb(93, 66, 185) 86%);
            background: -o-linear-gradient(316deg, rgb(99, 63, 240) 0%, rgb(171, 60, 237) 34%, rgb(206, 107, 160) 48%, rgb(201, 119, 148) 58%, rgb(107, 144, 220) 66%, rgb(93, 66, 185) 86%);
            background: -ms-linear-gradient(316deg, rgb(99, 63, 240) 0%, rgb(171, 60, 237) 34%, rgb(206, 107, 160) 48%, rgb(201, 119, 148) 58%, rgb(107, 144, 220) 66%, rgb(93, 66, 185) 86%);
            background: -moz-linear-gradient(316deg, rgb(99, 63, 240) 0%, rgb(171, 60, 237) 34%, rgb(206, 107, 160) 48%, rgb(201, 119, 148) 58%, rgb(107, 144, 220) 66%, rgb(93, 66, 185) 86%);
            background: linear-gradient(134deg, rgb(99, 63, 240) 0%, rgb(171, 60, 237) 34%, rgb(206, 107, 160) 48%, rgb(201, 119, 148) 58%, rgb(107, 144, 220) 66%, rgb(93, 66, 185) 86%);
            border-radius: 10px;
            padding: 20px;

            p {
                margin-bottom: 0;
                color: #fff;
            }

            .card__front__header {

                display: flex;
                margin-bottom: 40px;
                align-items: center;

                .card__front__header__lg-circle {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    background-color: #fff;
                }

                .card__front__header__sm-circle {
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    border: 1px solid #fff;
                    margin-left: 10px;
                }

            }

            main {
                .card__front__text {

                    font-family: 'Tajawal-Medium';
                    @include fluid-type-customized(1366px, 1920px, 26px, 32px);
                    @include fluid-type-customized(320px, 1024px, 18px, 20px);
                    letter-spacing: 3px;
                    margin-bottom: 20px;
                }


            }

            .card__front__footer {
                display: flex;
                justify-content: space-between;
                align-items: center;

                p {
                    text-transform: uppercase;
                    font-family: 'Tajawal-Regular';
                    @include fluid-type-customized(1366px, 1920px, 16px, 18px);
                    @include fluid-type-customized(320px, 1024px, 14px, 16px);
                    letter-spacing: 1px;

                }
            }
        }

        .card__back {
            width: 100%;
            margin-top: 30px;
            margin-left: 50px;
            border-radius: 10px;

            padding-top: 20px;
            background: -webkit-linear-gradient(335deg, rgb(255, 255, 255) 0%, rgb(241, 242, 243) 26%, rgb(228, 229, 232) 46%, rgb(216, 216, 222) 63%, rgb(210, 211, 217) 91%);
            background: -o-linear-gradient(335deg, rgb(255, 255, 255) 0%, rgb(241, 242, 243) 26%, rgb(228, 229, 232) 46%, rgb(216, 216, 222) 63%, rgb(210, 211, 217) 91%);
            background: -ms-linear-gradient(335deg, rgb(255, 255, 255) 0%, rgb(241, 242, 243) 26%, rgb(228, 229, 232) 46%, rgb(216, 216, 222) 63%, rgb(210, 211, 217) 91%);
            background: -moz-linear-gradient(335deg, rgb(255, 255, 255) 0%, rgb(241, 242, 243) 26%, rgb(228, 229, 232) 46%, rgb(216, 216, 222) 63%, rgb(210, 211, 217) 91%);
            background: linear-gradient(115deg, rgb(255, 255, 255) 0%, rgb(241, 242, 243) 26%, rgb(228, 229, 232) 46%, rgb(216, 216, 222) 63%, rgb(210, 211, 217) 91%);

            .card__back__header {
                width: 100%;
                height: 42px;
                background: #000;
                border-radius: 0px;

            }

            .card__back__body {
                padding: 25px 20px 45px;

                .card__back__body__cvc {
                    width: 100%;
                    height: 30px;
                    border-radius: 4px;
                    background-color: #ADB5BE;
                    text-align: end;
                    padding: 4px 20px;
                    font-family: 'Tajawal-Regular';
                    @include fluid-type-customized(1366px, 1920px, 16px, 18px);
                    @include fluid-type-customized(320px, 1024px, 14px, 16px);
                }

                .card__back__body__first-line,
                .card__back__body__second-line,
                .card__back__body__third-line {
                    margin-top: 22px;
                    display: grid;
                    width: 50%;
                    margin: 30px auto 0;
                    grid-template-columns: 65% 15% 15% 5%;
                    gap: 5px;

                    div {
                        background-color: #ADB5BE;
                        height: 4px;
                        border-radius: 3px;
                    }
                }

                .card__back__body__second-line {
                    grid-template-columns: 25% 35% 35% 5%;
                    margin-top: 6px;
                    width: 45%;
                }

                .card__back__body__third-line {
                    grid-template-columns: 5% 15% 15% 65%;
                    margin-top: 6px;
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .card {
        min-height: 300px;
        overflow: visible;

        .cards {
            position: static;
            width: 100%;
            left: 0;
            right: 0;
            top: 0;

            .card__front {
                width: 400px;
                position: absolute;
                top: 140px;
                left: auto;
                right: 20%;
                padding: 20px 15px;
                z-index: 1;

            }

            .card__back {
                width: 400px;
                position: absolute;
                // top: 30%;
                left: auto;
                right: 13%;
                margin-top: 34px;
                margin-left: 0;

            }
        }
    }
}

@media (max-width:500px) {
    .card {
        min-height: 300px;
        overflow: visible;

        .cards {
            position: static;
            width: 100%;
            left: 0;
            right: 0;
            top: 0;

            .card__front {
                width: 85%;
                position: absolute;
                top: 162px;
                left: 5%;
                padding: 20px 15px;
                z-index: 1;

                .card__front__header {

                    margin-bottom: 26px;
                }

                main .card__front__text {
                    margin-bottom: 16px;
                }
            }

            .card__back {
                width: 85%;
                position: absolute;
                margin-top: 56px;
                // top: 30%;
                left: 13%;
                margin-left: 0;

                .card__back__body {
                    padding: 15px 20px 20px;
                }

            }
        }
    }
}